* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: radial-gradient(ellipse at bottom, #022227, #000000 100%)
    no-repeat fixed;
  /* background-size: cover; */
  height: 100rem;
  overflow-x: hidden;
  min-height: 100vh;
  overflow-y: hidden;
  overflow: hidden;
  padding: 80px;
}

/* //TODO: background kordub kui minna mobiilivaatesse */

.text {
  display: flex;
  justify-content: center;

  background-image: url(light-blue-abstract.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.input {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 12px 20px;
}
.billamt {
  margin-right: 3px;
  padding: 12px 20px;
  text-align: center;
}
#billprot {
  margin-right: 3px;
  cursor: pointer;
  padding: 12px 10px;
  text-align: center;
}
.billspl {
  margin-right: 3px;
  padding: 12px 0px;
  text-align: center;
}

/* //TODO: lisada nupule stiil */
button {
  text-align: center;
  padding: 12px 20px;
}
button:hover {
  background: #8d8f8f;
}

h1 {
  display: flex;

  font-family: "Montserrat", sans-serif;
  font-size: 10vh;
  letter-spacing: 1vw;
  color: white;
  background: url("light-blue-abstract.jpg");
  background-size: auto 100%;
  /* background-clip: border-box; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#totalTip {
  
  font-size: 100px;
  text-align: center;
  color: white;
  margin-top: 100px;
}

#totalTip sup {
  font-size: 50px;
  top: -18px;
}

#totalTip small {
  font-size: 50px;
  font-weight: bold;
  display: block;
}
